<ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home/quran">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Al-Qur'an</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="home/diskusi">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon>
        <ion-label>Diskusi</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home/sholat">
        <ion-icon name="alarm-outline"></ion-icon>
        <ion-label>Waktu Sholat</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="home/lainnya">
        <ion-icon name="arrow-redo-outline"></ion-icon>
        <ion-label>Lainnya</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
