<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Jadwal Sholat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="dark">
    <h5 align="center">05 Agustus 2020</h5>
  </ion-text>

  <ion-card style="border-radius: 20px;">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1>04:45</h1>
          </ion-card-title>
          <ion-card-subtitle>
            <h3>Subuh</h3>
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title style="float:right;">
            <h1><ion-icon name="partly-sunny"></ion-icon></h1>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card style="border-radius: 20px;">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1>04:45</h1>
          </ion-card-title>
          <ion-card-subtitle>
            <h3>Syuruq</h3>
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title style="float:right;">
            <h1><ion-icon name="sunny"></ion-icon></h1>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-card style="border-radius: 20px;">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1>04:45</h1>
          </ion-card-title>
          <ion-card-subtitle>
            <h3>Dzuhur</h3>
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title style="float:right;">
            <h1><ion-icon name="sunny"></ion-icon></h1>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card style="border-radius: 20px;">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1>04:45</h1>
          </ion-card-title>
          <ion-card-subtitle>
            <h3>Ashar</h3>
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title style="float:right;">
            <h1><ion-icon name="partly-sunny"></ion-icon></h1>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card style="border-radius: 20px;">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1>04:45</h1>
          </ion-card-title>
          <ion-card-subtitle>
            <h3>Magrib</h3>
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title style="float:right;">
            <h1><ion-icon name="cloudy-night"></ion-icon></h1>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <ion-card style="border-radius: 20px;">
    <ion-card-header>
      <ion-row>
        <ion-col>
          <ion-card-title>
            <h1>04:45</h1>
          </ion-card-title>
          <ion-card-subtitle>
            <h3>Isya</h3>
          </ion-card-subtitle>
        </ion-col>
        <ion-col>
          <ion-card-title style="float:right;">
            <h1><ion-icon name="moon"></ion-icon></h1>
          </ion-card-title>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>


</ion-content>
